{% if ass.answer_list %}
    {% for item in ass.answer_list %}
        <p>
            {{ item }}
        </p>
    {% endfor %}
{% endif %}

{% if ass.answer_mono %}
    <p style="font-family: 'Droid Sans Mono'">
        {{ ass.answer_mono }}
    </p>
{% endif %}

{# insert new result type that you want to support #}
