<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="row mt-3">


        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for ass in results %}
                    <a class="nav-link" id="v-pills-{{ ass.slug }}-tab" data-toggle="pill"
                       href="#v-pills-{{ ass.slug }}"
                       role="tab" aria-controls="v-pills-home" aria-selected="true">{{ ass.title }}</a>
                {% endfor %}

            </div>
        </div>

        <div class="col-md-9">
            <div class="card p-2">

                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-" role="tabpanel"
                         aria-labelledby="v-pills--tab">
                        Select one to show answers
                    </div>

                    {% for ass in results %}
                        <div class="tab-pane fade show" id="v-pills-{{ ass.slug }}" role="tabpanel"
                             aria-labelledby="v-pills-{{ ass.slug }}-tab">
                            {% include "answer_box.html" with ass=ass %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>